---
layout: base.html
title: Newsletters 2025
permalink: "/newsletters/2025/"
this_year: 2025
---

<div class="container my-2 text-center" style="max-width: 650px;">
  <h4>Newsletter archive</h4>
  <div class="dropdown text-center">
    <button class="btn dropdown-toggle button-year" type="button" id="yearDropdown" data-bs-toggle="dropdown"
      aria-expanded="false" style="font-size:20px; width:100px; height:40px;">
      <span id="selectedYear">{{ this_year }}</span> <!-- Latest year by default -->
    </button>
    <ul class="dropdown-menu text-center" aria-labelledby="yearDropdown">
      <li><a class="dropdown-item" href="/newsletters/2025/">2025</a></li>
      <li><a class="dropdown-item" href="/newsletters/2024/">2024</a></li>
      <li><a class="dropdown-item" href="/newsletters/2023/">2023</a></li>
    </ul>
  </div>
  <div class="my-2 row row-cols-1 row-cols-md-4 g-3">
    {% set newsletters = collections.newsletters | sort('date') %}
    {% for newsletter in newsletters %}
    {% if newsletter.data.date | date("yyyy") == this_year %}
    <div class="col">
      <a href="{{ newsletter.url }}" class="btn button-style" style="margin: 0; padding: 10px;">
        {{ newsletter.data.title | replace("Newsletter ", "") }}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <br>
</div>