---
layout: base.html
title: Research Intern Opportunity
permalink: "/opportunities/research-intern/"
---
<h2 class="container mt-2 text-center">Research Intern Opportunity</h2>
<div class="container mt-5" style="max-width: 800px;">
    <h5>Position: Research Intern</h5>
        <p>We have a few slots open for research internship during the Spring-2025 semester and the summer break of 2025 at the Distributed Systems Research group in the <a href="https://cni.iisc.ac.in">Centre for Networked Intelligence (CNI)</a>. Students with good academic record who can spend <strong> a minimum of 10 weeks in-person at CNI </strong> are encouraged to apply.</p>
        
        <p>The selected interns will work on one of the following:</p>
        <ul style="list-style-type: disc;">
            <li>Sustainable computing for model-training and inference in machine learning (ML).</li>
            <li>Distributed ML over heterogeneous compute environments.</li>
            <li>Network transport protocols optimized for Data Center workloads.</li>
        </ul>
        
        <p><b>Please note that we do not have any projects on applying machine learning (ML/AI) models and developing ML applications. Please apply only if you are passionate about experimental research in computer networks, operating systems, computer architecture, and performance engineering.</b><p>

        <p>Applicants must possess solid quantitative skills and must be well-acquainted with programming, systems architecture (Linux operating system, shell commands and scripting, networks, and computer architecture). Above all, they must have a flair for self-learning new techniques during the course of the internship.</p>
        
        <p>The research internship at CNI follows a goal-driven intensive schedule, with an aim of achieving research publications and working prototypes. Please apply only if you are willing to put in additional efforts in learning required skills and delivering on the planned experiments. The reward is the authorship on the publication(s) and software you contributed, which is a valuable endorsement to your CV for higher studies or industry job. Past CNI interns have managed to get admissions to high-ranked universities abroad or get jobs in reputed companies. The interns will be working within a team with senior research staff, PhD scholars, and IISc faculty.</p>
        
        <h5>Location:</h5>
        <p>Indian Institute of Science campus, Bengaluru. This is a full-time in-person paid internship. Although on-campus accommodation is not available for interns, safe paying guest accommodation is available right outside IISc campus.</p>
        
        <h5>About CNI:</h5>
        <p>The <a href="https://cni.iisc.ac.in">Centre for Networked Intelligence</a> is an industry-sponsored research centre focused on developing next generation networking methodologies and concept solutions that can derive knowledge from evolved networks of the future.</p>
        
        <h5>Responsibilities:</h5>
        <ul style="list-style-type: disc;">
            <li>Assist in designing, implementing, and conducting experiments on testbeds.</li>
            <li>Apply quantitative analysis and data modeling techniques to interpret research data.</li>
            <li>Contribute to the development and evaluation of software tools, models, and algorithms.</li>
        </ul>
        
        <h5>Qualifications:</h5>
        <ul style="list-style-type: disc;">
            <li>Undergraduate or graduate student in Computer Science, Electrical Communication, or related engineering disciplines.</li>
            <li>Proficiency in Linux/Unix operating system and CLI is a must.</li>
            <li>Proficiency in data structures and algorithms, C/C++ and Python programming, and development tools (debuggers, git, profilers).</li>
            <li>Solid foundation in probability and statistics.</li>
        </ul>
        
        <h5>Incentives for joining CNI:</h5>
        <ul style="list-style-type: disc;">
            <li>Opportunity to learn the rigor of world-class research through practice.</li>
            <li>Access to state-of-the-art tools and testbeds.</li>
            <li>Attribution for your contributions (publications and code) to boost your CV.</li>
            <li>Interactions with renowned experts (potential recruiters and advisors) in the field.</li>
        </ul>
        
        <h5>Application deadline:</h5>
        <p><strong>January 31, 2025</strong></p>
        
        <h5>How to apply:</h5>
        <p>Please fill in the <a href="https://forms.gle/mCA8jjKV9qfeAciL8">form to apply</a>.</p>
    </div>