---
layout: base.html
title: Outreach Associate Opportunity
permalink: "/opportunities/outreach-associate/"
---

<h2 class="container mt-2 text-center">Outreach Associate</h2>
<div class="container mt-5" style="max-width: 800px;">
    <h5>Position: Outreach Associate</h5>
    <p>We are seeking a part-time/full-time Outreach and Communications Associate to join the
    <a href="https://cni.iisc.ac.in">Centre for Networked Intelligence (CNI)</a> at the Indian Institute of
    Science. CNI is an industry-sponsored research centre focussed on
    Systems and Networking research.</p>
    <h5>Location: Indian Institute of Science campus, Bengaluru</h5>
    <h5>Responsibilities:</h5> 
    <ul style="list-style-type: disc;">
      <li> Coordinate CNI’s outreach events such as seminars, summer school, workshops, etc. 
      <li> Update to CNI’s website (once or twice a week)
      <li> Preparation of CNI monthy newsletter (with technical inputs from staudents and staff).
      <li> Create high-quality visual communication collateral for outreach events.
      <li> Actively maintain the Centre’s social media presence 
      <li> Creative use of educational technologies for delivering technical content
    </ul>
    <h5>Qualifications/skills:</h5>
    <ul style="list-style-type: disc;">
      <li> Excellent written and verbal communication skills in English.<br />
      <li> Bachelor’s degree/diploma in engineering/science/journalism/communications. 
      <li> Basic graphic design and video editing skills for posters, website, social media.
      <li> Creative thinking and the ability to generate innovative content ideas. 
      <li> Proficiency in social media platforms, including Facebook, Instagram, Twitter, and LinkedIn. 
      <li> Experience with website design/maintenance will be a plus.
      <li> Students with the above skills, pursuing studies, will be considered for a year-long internship if they can commit a minimum number of hours per week.
    </ul>
    
    <h5>Incentives for joining CNI:</h5> 
    <ul style="list-style-type: disc;">
      <li> Opportunity to work in a dynamic research lab in one of India’s most prestigious institutes. 
      <li> Interaction with renowned experts from industry and academia. 
      <li> Freedom to explore creative ideas in educational technology. 
      <li> Flexibiity experiment with latest tools in communications, which helps in upskilling yourself.
    </ul>
    
    <h5>Duration and remuneration:</h5> This is a grant-funded position with initial probation. Contracts are typically renewed annually on satisfactory performance.
   
    <p>Remuneration will be commensurate with the candidate's qualifications.</p>

    <h5>How to apply:</h5>
    <p>Please fill in <a href="https://forms.gle/q8kyHmdE4CepYVVb6">the form to apply</a>.</p>
</div>
