---
permalink: /cni-workshop-2021/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/workshops/2021/WiFi-workshop/">
  <link rel="canonical" href="/workshops/2021/WiFi-workshop/">
  <title>Redirecting…</title>
</head>
<body>
  <p>This page has moved to <a href="/workshops/2021/WiFi-workshop/">/workshops/2021/WiFi-workshop/</a>.</p>
</body>
</html>
